<%= render 'users/header' %>

<div class="row-fluid">
  <div class="span3">
    <%= render 'devise/registrations/nav' %>
  </div>
  <div class="span8">
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Work in Progress!</strong> Travail en cours
      </div>
  </div>
</div>
